.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
Guía para la elaboración de diseños.pdf
IntroR-Interno-Actividad práctica clase 1-calificaciones.xlsx
Propuesta curso R para INC - formato INAP - versión INE.docx
clases_teoricas
estudiantes.xlsx
plantilla_curso_R.gslides
practicas
propuesta curso R (1).pdf
propuesta curso R.pdf
repaso_clase1.pdf
